<div class="header inline-flex  pt-2 px-4">
  <div class="w-16 mr-4 mt-2">
    <div class="w-16 h-16 overflow-hidden rounded-full">
      <img class="w-full" src="{{avatar}}" alt="">
    </div>
  </div>
  <div class="w-56 flex flex-col justify-center">
    <div class="w-full flex items-center">
      <p class="text-md text-gray-700">{{name}}</p>
    </div>
    <div class="w-full">
      <p class="text-sm text-gray-600 pr-2">{{area}}</p>
    </div>

  </div>

</div>

<div class="body px-4 ">

</div>

<div class="footer pb-2 px-4">
  <div class="flex justify-start items-center h-10 w-full">
    <div class="w-1/2 flex justify-start text-gray-700">

      <button data-type="button" type="button" name="view" class="flex text-gray-500 items-center">
        <div class="mr-2">
          <i class="far fa-eye" aria-hidden="true"></i>
        </div>
        <p class="text-sm">Ver más</p>
      </button>

    </div>
    <div class="w-1/2 flex items-center justify-end text-gray-700">
      <p class="text-sm mr-2">Integrantes :</p>
      <p class="text-sm">{{members}}</p>
    </div>
  </div>
</div>
