.fc-toolbar.fc-header-toolbar {
  display: none; }

.fc-dayGrid-view .fc-day-number {
  margin-right: 5px; }

nav {
  height: 50px; }
  nav .icon {
    height: 30px;
    width: 30px; }

[data="calendar"] {
  width: calc( 100% - 90px); }

body, main {
  overflow: hidden;
  width: 100%;
  height: calc(100vh);
  font-family: 'Open sans'; }
