.permission {
  right: 40px; }

.permission:nth-child(1) {
  bottom: 105px;
  transition: bottom .45s; }

.permission:nth-child(4) {
  bottom: 285px;
  transition: bottom .45s; }

.permission:nth-child(3) {
  bottom: 225px;
  transition: bottom .45s; }

.permission:nth-child(2) {
  bottom: 165px;
  transition: bottom .45s; }

.permission.hide {
  bottom: 45px; }
  .permission.hide p {
    display: none; }

.permissions-cont {
  position: fixed;
  width: 100px;
  height: 100px;
  transition: all .45s; }

.permissions-cont.active {
  width: 100vh;
  height: 100vh;
  background-color: white; }

@media (min-width: 640px) {
  .permissions-cont {
    position: absolute; }
  .permissions-cont.active {
    width: 200px;
    height: 350px; } }

select,
select:focus,
select:active,
button,
button:focus,
button:active,
input,
input:focus,
input:active,
textarea,
textarea:focus,
textarea:active {
  outline: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important; }

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important; }

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important; }

input,
select,
option,
textarea {
  background: #ffffff; }

label {
  bottom: 0px;
  transition: all 0.25s; }

.helper {
  font-size: 11px;
  color: transparent; }

.helper.active {
  color: #808080; }

input,
select,
textarea {
  color: black;
  border-bottom: 2px solid #C8C8C8;
  background-color: #ffffff;
  transition: border-bottom-color .5s, color .5s; }

.modal-cont {
  overflow: hidden;
  z-index: 0;
  opacity: 0;
  top: 100%;
  transition: opacity 0.5s; }
  .modal-cont .modal {
    box-shadow: 0px 16px 41px 0px #7a7a7a; }
    .modal-cont .modal > .body {
      height: calc(100% - 80px);
      overflow: hidden; }

.modal-cont.active {
  z-index: 50;
  opacity: 1;
  top: 0; }

[data-modal="permissions"] form > .body {
  height: calc(100% - 105px); }

[data-modal="permissions"] form input {
  border-bottom-color: transparent; }

.fc-toolbar.fc-header-toolbar {
  display: none; }

th.fc-day-header.fc-widget-header {
  text-transform: uppercase;
  padding: 5px;
  color: gray;
  font-size: 12px; }

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  float: none;
  padding: 0px;
  padding-top: 5px; }

.fc-unthemed td.fc-today {
  background: #fbf0b2; }

#calendar {
  background-color: white;
  position: relative;
  z-index: 0; }

#calendar.active {
  z-index: 5; }

body, html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Open sans';
  position: relative; }

#content {
  height: calc(100% - 64px);
  width: calc(100vw + 320px);
  left: -320px;
  position: relative;
  transition: left .5s; }

#content.open {
  left: 0px; }

#menu {
  width: 320px; }

button[name="toggle"] {
  box-shadow: 0px 3px 47px -3px rgba(0, 0, 0, 0.75);
  height: 50px;
  width: 50px; }

#login {
  width: 400px;
  height: 400px; }
  #login h1, #login .buttons {
    height: 100px; }
  #login .inputs {
    height: 200px; }

[data-content].active {
  z-index: 20; }

[data-content="solicitudes"] .solicitud {
  height: 160px; }

[data-content="users"] .user {
  height: 160px; }

[data-users="list"] .card,
[data-teams="list"] .card {
  border: 2px solid white; }

[data-users="list"] .delete,
[data-teams="list"] .delete {
  border: 2px solid red; }

[data-teams="create"] [name="createTeam"], [data-teams="create"] form,
[data-teams="edit"] [name="createTeam"],
[data-teams="edit"] form {
  margin: 30px;
  height: calc(100% - 60px); }
  [data-teams="create"] [name="createTeam"] h1, [data-teams="create"] form h1,
  [data-teams="edit"] [name="createTeam"] h1,
  [data-teams="edit"] form h1 {
    height: 24px; }
  [data-teams="create"] [name="createTeam"] .body, [data-teams="create"] form .body,
  [data-teams="edit"] [name="createTeam"] .body,
  [data-teams="edit"] form .body {
    height: calc(100% - 230px); }
    [data-teams="create"] [name="createTeam"] .body [data="leader"], [data-teams="create"] form .body [data="leader"],
    [data-teams="edit"] [name="createTeam"] .body [data="leader"],
    [data-teams="edit"] form .body [data="leader"] {
      height: 50px; }
    [data-teams="create"] [name="createTeam"] .body .scroll, [data-teams="create"] form .body .scroll,
    [data-teams="edit"] [name="createTeam"] .body .scroll,
    [data-teams="edit"] form .body .scroll {
      height: calc(100% - 82px); }
      [data-teams="create"] [name="createTeam"] .body .scroll [data="members"], [data-teams="create"] form .body .scroll [data="members"],
      [data-teams="edit"] [name="createTeam"] .body .scroll [data="members"],
      [data-teams="edit"] form .body .scroll [data="members"] {
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100% - 40px); }

[data-teams="create"] [name="userList"],
[data-teams="edit"] [name="userList"] {
  margin: 30px;
  height: calc(100% - 60px); }
  [data-teams="create"] [name="userList"] h1,
  [data-teams="edit"] [name="userList"] h1 {
    height: 24px; }
  [data-teams="create"] [name="userList"] .body,
  [data-teams="edit"] [name="userList"] .body {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 110px); }
