select,
select:focus,
select:active,
button,
button:focus,
button:active,
input,
input:focus,
input:active,
textarea,
textarea:focus,
textarea:active,
  outline: none;

@each $input in ['input','select','textarea']
  #{$input}:-webkit-autofill,
  #{$input}:-webkit-autofill:hover,
  #{$input}:-webkit-autofill:focus,
  #{$input}:-webkit-autofill:active,
    -webkit-box-shadow: 0 0 0 30px #E8E8E8 inset !important;

form
  input,
  select,
  option,
  textarea
    background: transparent;

  label
    bottom: 0px;
    transition: all 1s,;

  .helper
    font-size: 11px;
    color: transparent;

  .helper.active
    color: #808080;

  .input,
  .select,
  .textarea
    color: black;
    border-bottom: 3px solid #C8C8C8;
    background-color: #E8E8E8;
    transition: border-bottom-color 1s, color 1s;

  .select
      color: transparent;

  .input.error + .helper,
  .select.error + .helper,
  .textarea.error + .helper
      color: red;


  .input:hover,
  .select:hover,
  .textarea:hover,
  .input.active,
  .select.active,
  .input.notEmtpy,
  .select.notEmtpy,
  .textarea.notEmtpy,
      background-color: #DCDCDC;
      color: black;
      label
        font-size: 11px;
        bottom: 50%;
      @each $input in ['input','select','textarea']
        #{$input}
          z-index: 11;
        #{$input}:-webkit-autofill,
        #{$input}:-webkit-autofill:hover,
        #{$input}:-webkit-autofill:focus,
        #{$input}:-webkit-autofill:active,
          -webkit-box-shadow: 0 0 0 30px #DCDCDC inset !important;

  .textarea:hover,
  .textarea.notEmtpy,
    label
      bottom: 60%;

  .input:hover,
  .select:hover,
  .textarea:hover,
  .input.active,
  .select.active,
  .textarea.active,
    color: black;
    border-bottom-color: #2b6cb0;
    label
      z-index: 10;

  .input.disabled,
  .textarea.disabled,
  .select.disabled
    border-bottom-color: #BEBEBE;
    background-color: #D3D3D3;
    color: #808080;
    label
      color: #808080;
