select,
select:focus,
select:active,
button,
button:focus,
button:active,
input,
input:focus,
input:active,
textarea,
textarea:focus,
textarea:active,
  outline: none;

@each $input in ['input','select','textarea']
  #{$input}:-webkit-autofill,
  #{$input}:-webkit-autofill:hover,
  #{$input}:-webkit-autofill:focus,
  #{$input}:-webkit-autofill:active,
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;

input,
select,
option,
textarea
  background: #ffffff;

label
  bottom: 0px;
  transition: all .25s,;

.helper
  font-size: 11px;
  color: transparent;

.helper.active
  color: #808080;

input,
select,
textarea
  color: black;
  border-bottom: 2px solid #C8C8C8;
  background-color: #ffffff;
  transition: border-bottom-color .5s, color .5s;
