@import 'overwrite';
@import 'nav';
@import 'permisions';
@import 'modal';
@import 'dataTable';

body,main{
  overflow: hidden;
  width: 100%;
  font-family: 'Open sans';
  position: relative;
}
main{
  // height: calc(100% - 50px);
}
