nav{
  height: 50px;
  .icon{
    height: 30px;
    width: 30px;
  }

}

[data="calendar"]{
  width: calc( 100% - 90px);
  
}


#side-menu{
  background-color: rgba(0,0,0,.5);
  top: 0px;
  left: -100%;
  transition: left 1s;
}

#side-menu.open{
  left: 0;
}
