<div class="w-full flex justify-center">
  <div class="w-24 my-2 mx-4 rounded-full overflow-hidden">
    <img class="w-full" src="{{avatar}}" alt="">
  </div>
</div>
<div class=" w-full my-4 px-4 text-center">
  <p class="text-sm font-bold my-2">{{area}}</p>
  <p class="text-xs  my-2">{{position}}</p>
  <p class="text-xs my-2">{{name}}</p>
</div>
<div class="w-full my-4 px-4 flex justify-center">
  <button class="flex justify-center items-center text-sm text-gray-600" data-type="button" type="button" name="profile">
    <i class="far fa-eye"></i>
    <p class="ml-2">ver perfil</p>
  </button>
</div>
