<div data-id="{{id}}" class="flex items-center cursor-grab border-b border-gray-500 py-2 mx-2 w-full">
  <div class="w-8 mr-2 rounded-full overflow-hidden">
    <img class="w-full" src="{{avatar}}" alt="">
  </div>
  <p class="text-gray-700 text-sm mx-2">{{name}}</p>
  <p class="text-gray-700 text-sm mx-2">{{position}}</p>
</div>
